//  Alert

    $alert-padding:                             1rem;
    $alert-border:                              1px solid $color-thin-shadow;
    $alert-shadow:								0 1px 1px 0px rgba(0,0,0,0.1);
    $alert-color:                               $type-color-primary;

    $alert--success-background:                 $color-success;
    $alert--warning-background:                 $color-warning;  
    $alert--error-background:                   $color-error;
    $alert--info-background:					$color-info;